@font-face {
  font-family: 'NovaPoshta';
  src: url('../src/font/NovaPoshta-Black.otf');
  font-weight: extrabold;
}

@font-face {
  font-family: 'NovaPoshta';
  src: url('../src/font/NovaPoshta-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'NovaPoshta';
  src: url('../src/font/NovaPoshta-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NovaPoshta';
  src: url('../src/font/NovaPoshta-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'NovaPoshta';
  src: url('../src/font/NovaPoshta-RegularCond.otf');
  font-weight: 600;
}